<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Product Gallery</title>
    <link th:href="@{/css/navBar.css}" rel="stylesheet" / >
    <link rel="stylesheet" href="@{/css/galleryStyle.css}" />
  </head>
  <body>
    <header>
      <div th:replace="navigationBar :: navBar"></div>
    </header>
    <section>
      <div th:each = "item : ${cartDetails}">
          <p>Product Name : <p th:text = "${item.productName}"/></p>
          <p> Quantity : <p th:text = "${item.quantity}"/></p>
          <p>Price : <p th:text = "${item.price}"/></p>
          <p>Sub Total : <p th:text = "${item.price * items.quantity}"/></p>   
          <div>
            <a th:href="@{/updateCartItem(cartId = ${item.cartId})}">Change Quantity</a>
            <a th:href="@{/deleteCartItem/(id = ${item.cartId})}">Remove</a>
        </div>
      </div>    
      <h2>Total : <h2 th:text = "${total}"></h2>

      <div>
        <a th:href="@{/pandas/products}">Continue Shopping</a>
      </div>
      <div>
        <a th:href="checkout">Check Out</a>
      </div>
    </section>
  </body>
</html>
