<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link href="/css/navBar.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <title>About Us</title>
  </head>

  <body>
    <div th:replace="navigationBar :: navBar"></div>

    <section>
      <div class="aboutUs">
        <h2>About us</h2>
			<p>Pandas is one of the top four online lifestyle shopping
				destinations of India. Pandas brings together a wide assortment of
				good quality and value- priced merchandise on its platform. Pandas's
				vision is to enable the shoppers of Bharat to experience the joy of
				living their aspirations through reliable, value-for-money shopping.
				With a personalized, multilingual interface and cutting edge
				technology, Pandas has simplified the shopping experience for its
				value-conscious buyers by showcasing the most relevant products-
				products that are a good functional fit with their needs and of a
				quality that lasts- thereby delivering true value to its customers.
				With its commitment to high service standards, Pandas suppliers
				operate under a well structured ecosystem that enables them to offer
				great quality products at affordable prices. With majority of the
				value-seeking, middle-income, price-conscious buyers coming from the
				non-metros, Pandas’s logistics networks powered by third party
				logistics cover more than 96% of India’s pin codes enabling order
				deliveries to more than 2500 towns and cities and expanding.
				Further, Pandas's mission is to become India’s value lifestyle
				omni-channel leader. We are excited about continuing to build a
				complete ecosystem around value commerce, where we can serve Bharat
				consumers wherever they are on their offline to online shopping
				journey. Pandas is part of one of India’s best-known e-commerce
				companies with an exclusive focus on the value segment.</p>
		</div>
    </section>
  </body>
</html>
