<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/navBar.css}" rel="stylesheet" / >
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <title>Login Form</title>
  </head>
  <body>
    <header>
      <div th:replace="navigationBar :: navBar"></div>
    </header>

    <div class="container">
      <div class="form-container">
        <form th:action="@{/login}" method="post" class="form">
          <div class="form-elements">
            <label for="email">Email</label>
            <input
              class="form-input"
              type="text"
              name="username"
              required
              placeholder="Email"
            />
          </div>
          <div class="form-elements">
            <label for="password"> Password</label>
            <input
              class="form-input"
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <input class="form-button" type="submit" value="Login" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
